.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 3px solid var(--color-border);
  border-top-color: var(--color-brand-600);
  border-radius: 50%;
  animation: rotate 0.7s linear infinite;
}

.sm {
  width: 1.8rem;
  height: 1.8rem;
  border-width: 2px;
}

.md {
  width: 3.4rem;
  height: 3.4rem;
}

.lg {
  width: 5rem;
  height: 5rem;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
